<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<div id="app">
  <table class="grid">
    <tbody>
      <tr v-for="i in height" v-if="height-i > 0">
        <td v-for="j in width" 
          :class="{occluded : occlusion()[height-i][j-1]}"
          :key="'r'+i + 'c'+j">
        </td>
      </tr>
    </tbody>
  </table>
  <table class="info">
    <tbody>
      <tr v-for="(value, key) in info">
        <td>{{key}}: {{value}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript" src="app.js"></script>
